* {
    font-family: Arial;
}

body {
}





.ErrorMessage{
    color:darkblue
}

#PageWrapper {
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer{
 
}
 

